In [ ]:
## number system

In [ ]:
2+1                                           ## word = 'mango'
                                              ## letter = 'abcde...'

In [ ]:
2**3

In [ ]:
15425376%2

In [ ]:
1024**0.5

In [ ]:
round(343**(1/3))

In [ ]:
3+4-3*5/2   ## pythone work like calculator

In [ ]:
pi=3.141

In [ ]:
round(pi,2)

In [ ]:
type(pi)

# strings

In [ ]:
s = "manoj kumar"

In [ ]:
s

In [ ]:
s[0]

In [ ]:
s[6:12]

In [ ]:
s[::2]

In [ ]:
s[::-1]

In [ ]:
s[::3]

In [ ]:
"Mr." + "manoj kumar"

In [ ]:
print("Mr." + "manoj kumar")

In [ ]:
"Mr." + "manoj kumar" + "is a student of iit kanpur"

In [ ]:
print("Mr." + "manoj kumar" + "is a student of iit kanpur")

In [ ]:
a = "Mr " + "manoj kumar" + "is a student of iit kanpur"

In [ ]:
a

In [ ]:
a.capitalize()

In [ ]:
a[0].capitalize()

In [ ]:
a.split()

In [ ]:
print ('hello')

In [ ]:
b = str(input())

In [ ]:
b

## string format for printing

In [ ]:
print("Hello" + ' my_name')

In [ ]:
my_name = 'Manoj kumar'

In [ ]:
my_name

In [ ]:
print("Hello " + my_name)      # this called string interpolation

# Type 1

In [ ]:
name = "dog"                              # two type of print satement
                                          # one is here
print('this is bad :', name )

In [ ]:
name = "manoj kumar"
status = " married and student at iit kanpur "
age = 34

In [ ]:
print(f' hello, his name is {name} and status {status} or his age is {age}')

In [ ]:
name = "sushma rai"
age = 27
work = "Tharapist"

In [ ]:
print(f'Her name is {name} and age {age} and her work is {work}')

# Type 2

In [ ]:
print('her name is :', name)
print('her age is :', age)
print('her work is :', work)

# Type 3

In [ ]:
print('This is me {}'.format('Manoj Kumar'))

In [ ]:
print('Manoj {k} is a {s} of iit {a}'.format( k = 'kumar',s = 'student', a = 'kanpur')) ## K,s,a string have thier initial letter

# Type 4

In [ ]:
R = 625/100

In [ ]:
R

In [ ]:
print('The result was {r}'.format(r=R))

In [ ]:
print('The result was {r:2.2f}'.format(r=R))

# List

In [ ]:
list = [1,2,2,2,2,3,4]

In [ ]:
list

In [ ]:
a = list

In [ ]:
a

In [ ]:
a.count(2)

In [ ]:
a.append(10)

In [ ]:
a

In [ ]:
a.index(4)                                ## wat index of item in list

In [ ]:
a.pop(7)                             ## to remove items by their idx No

In [ ]:
a

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a.reverse()

In [ ]:
a

In [ ]:
MK_list = ['MBA by Oxford', 80 , "Harrier"]

In [ ]:
MK_list[2]

In [ ]:
pwd

In [ ]:
                                                             ##  f = open('C:\\Users\\manoj\\cd.txt','r')

# Dictionary

In [ ]:
d = {'k1': "sushma",'k2': "vaibhav", 'k3': {'k4': 500}}

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
d = {'k1': "sushma",'k2': "vaibhav", 'k3': {'k4': [500]}}

In [ ]:
d['k3']

# Read, write. and open file

In [ ]:
%%writefile mfile.txt
Hello this is my file
my name is manoj kumar

In [ ]:
myfile = open('mfile.txt')

myfile.read()

In [ ]:
contents = myfile.read()

In [ ]:
contents

In [ ]:
%%writefile test.txt
Hello world

In [ ]:
file = open('test.txt')

In [ ]:
file.read()

## practice

In [ ]:
 mylist = list([range(0,11)])

In [ ]:
mylist

In [ ]:
for num in mylist:
    print(num)

In [ ]:
for num in mylist:
    print('hello')

In [ ]:
for num in mylist:
    if num%2==0:
        print(num)

In [ ]:
for num in mylist:
    if num%2==0:
        print(num)
    else: 
        print('odd no',num)       ## print(f'odd no : {num}')

In [ ]:
s = 0
for num in mylist:
    s = s + num
print(s)

In [ ]:
str = 'i love you baby'
for word in str:
    print(word)

In [ ]:
x = 0
while (x<5):
    print('value of x :', x)
    x=x+1

In [ ]:
idx_c = 0
for word in 'abcde':
    print('at idx :',idx_c,'the word is :',word)
    
idx_c = idx_c+1

In [ ]:
idx = 0
word = 'abcde'
for word in word:
    print(word[idx])
    
idx = idx+1

In [ ]:
word = 'abcde'
for idx,word in enumerate(word):
    print(idx,word)

In [ ]:
from random import shuffle

In [ ]:
m_list=['','0','']

In [ ]:
shuffle(m_list)

In [ ]:
m_list

In [ ]:
import csv

In [ ]:
data = open('test.csv')

In [ ]:
csv_data =csv.reader(data)

In [ ]:
data_line = list(csv_data)

In [ ]:
data_line[613]

In [ ]:
a = int(input('enter no A :'))
b = int(input('enter no B :'))

In [ ]:
a

In [ ]:
b

In [ ]:
temp = a
b=temp
a=b

In [ ]:
a

In [ ]:
b

# Password Checker

In [ ]:
print('*'*5)
print('*'*4)
print('*'*3)
print('*'*2)
print('*'*1)

In [ ]:
print('@'*1)
print('@'*2)
print('@'*3)
print('@'*4)
print('@'*5)

In [ ]:
# password checker

username = input(' username :')
password = input(' password :')

pass_length = len(password)
pass_len = '*'* pass_length

print(' your username is :', username , 
      '\n your password is :', password ,
      '\n your password lenght charcter :', pass_len,  pass_length)

In [ ]:
# counter programe

number_list = [1,2,3,4,5,6,7,8,9,10]

counter = 0

for number in number_list:
    counter += number
    print(counter)
    
print(counter)

In [ ]:

#Display the image below to the right hand side where the 0 is going to be ' ', 
#and the 1 is going to be '*'. This will reveal an image!

picture = [
  [0,0,0,1,0,0,0],
  [0,0,1,1,1,0,0],
  [0,1,1,1,1,1,0],
  [1,1,1,1,1,1,1],
  [0,0,0,1,0,0,0],
  [0,0,0,1,0,0,0]
]


for image in picture:
    for pixel in image:
        if (pixel==1):
            print('*', end = '')
        else:
            print(' ', end = '')

    print('')

In [ ]:
print("Welcome to" , end = ' ')

print("Geeks for Geeks", end = '')

In [ ]:
# find duplicates value

mylist = ['a','a','b','b','c']

duplicate = []
for value in mylist:
    if mylist.count(value) > 1:
        if value not in duplicate:
            duplicate.append(value)
                
print(duplicate)

In [ ]:
# check driver age

def checkDriverAge():
    age = input("What is your age?: ")
    if int(age) < 18:
        print("Sorry, you are too young to drive this car. Powering off")
        
    elif int(age) > 18:
        print("Powering On. Enjoy the ride!");
    elif int(age) == 18:
        print("Congratulations on your first year of driving. Enjoy the ride!")
        
checkDriverAge()

In [ ]:
#2 Instead of using the input(). Now, make the checkDriverAge() function accept an argument of age, so that if you enter:
#checkDriverAge(92);
#it returns "Powering On. Enjoy the ride!"
#also make it so that the default age is set to 0 if no argument is given.

def checkDriverAge(age=input('your age ')):
    if int(age) < 18:
        print("Sorry, you are too yound to drive this car. Powering off")
    elif int(age) > 18:
        print("Powering On. Enjoy the ride!");
    elif int(age) == 18:
        print("Congratulations on your first year of driving. Enjoy the ride!")
checkDriverAge()

# numerology

In [1]:
c=25
b=c//10   # (ab) // n = a

print(b)

2

In [2]:
i=25
a=i%10   # (ab) % n = b

print(a)

5

In [3]:
# find sum of two digit number >9 like 21,23,18,etc



N = 18

s= N%10 + N//10

print(s)

9

In [19]:
# To find mulank(birth number) and bhagyank(conductor number)

DOB_str = input("your DOB is : ")

# calculation for mulaak
n = 0
for num in DOB_str[:2]:
    n += int(num)
     
    # modulation in case of 2 digit number
    if n > 9:
        n = n % 10 + n // 10
        print(" Your birth number is : " ,DOB_str[:2],"\n Your mulaank is : " ,n)


# calculation for bhagyaank
i = 0
for num in DOB_str:
    i += int(num)
     
    # modulation in case of 2 digit number
    if i > 9:
        i = i % 10 + i // 10

your DOB is : 29011995
 Your birth number is :  29
 Your mulaank is :  2
Your conductor number is : 9

In [18]:
DOB_str = input("your DOB is : ")

i = 0
for num in DOB_str[:2]:
    i += int(num)
     
    # modulation in case of 2 digit number
    if i > 9:
        i = i % 10 + i // 10
        
print(" Your birth number is : " ,i)

your DOB is : 29011995
 Your birth number is :  2